@import "tailwindcss";

@theme {
    --color-primary: #F78F5B;
    --color-secondary: #C23B04;
    --color-ternary: #F8EADE;

    --color-background: #F3F2F0;


    --color-black-transparent: #00000075;
    --color-black-transparent-25: #00000025;
    --color-black-transparent-50: #00000050;
    --color-black-transparent-90: #00000090;

    --color-white-transparent: #ffffff75;
    --color-white-transparent-25: #ffffff25;
    --color-white-transparent-50: #ffffff50;
    --color-white-transparent-90: #ffffff90;
}

@layer components {
    .btn-food {
        @apply px-4 py-2 bg-white rounded-4xl text-sm cursor-pointer whitespace-nowrap shadow-sm;
    }

    .btn-food.active {
        @apply bg-primary;
    }

    .menu-btn {
        @apply flex flex-col justify-center items-center text-sm gap-0.5
    }

    .menu-btn.active {
        @apply text-secondary;
    }
    .profile-btn{
        @apply flex items-center text-lg py-2 gap-3 ;
    }
    .profile-btn svg{
        @apply text-xl;
    }
    .login-input {
        @apply border rounded-sm p-1 ; 
    }
    .login-submit {
        @apply text-lg bg-primary rounded-sm py-1 mt-3;
    }

    .hideScroll {
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .hideScroll::-webkit-scrollbar {
        display: none;
    }
}